In [ ]:
df = pd.DataFrame(np.random.choice([2,np.nan], (20, 5), p=[0.2, 0.8]), columns=list('abcde'))

How to drop column where missing values are above a threshold (may be 80% of the data) in pandas?

In [4]:
import pandas as pd
import numpy as np

# How to drop column where missing values are above a threshold (may be 80% of the data) in pandas?

In [5]:
df = pd.DataFrame(np.random.choice([2,np.nan], (20, 5), p=[0.2, 0.8]), columns=list('abcde'))

In [12]:
df

      a    b    c   d    e
0   NaN  NaN  NaN NaN  NaN
1   2.0  NaN  2.0 NaN  NaN
2   2.0  2.0  NaN NaN  2.0
3   NaN  NaN  NaN NaN  NaN
4   2.0  NaN  NaN NaN  NaN
5   2.0  2.0  NaN NaN  NaN
6   NaN  NaN  NaN NaN  2.0
7   2.0  NaN  2.0 NaN  2.0
8   NaN  NaN  NaN NaN  NaN
9   NaN  NaN  NaN NaN  NaN
10  NaN  2.0  2.0 NaN  NaN
11  NaN  NaN  NaN NaN  NaN
12  NaN  NaN  NaN NaN  2.0
13  2.0  2.0  NaN NaN  NaN
14  NaN  2.0  NaN NaN  NaN
15  NaN  NaN  NaN NaN  NaN
16  NaN  NaN  2.0 NaN  NaN
17  2.0  2.0  2.0 NaN  NaN
18  NaN  2.0  NaN NaN  2.0
19  NaN  NaN  NaN NaN  2.0

In [55]:
missing_count = df.isnull().sum()/len(df)

In [56]:
missing_count

a    0.65
b    0.65
c    0.75
d    1.00
e    0.70
dtype: float64

In [24]:
missing_count.columns = ['columns', '%_of_missing']

In [26]:
missing_count[missing_count<=80]

a    65.0
b    65.0
c    75.0
e    70.0
dtype: float64

In [61]:
19*0.8

15.200000000000001

In [67]:
# df.drop(columns=)

In [68]:
df.dropna(thresh=15 , axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Problem 1:

 

str1 = "Beautiful Is Better Than Ugly"

 

Write a python script to organize letters in words more reasonably(using above string) - in an alphabetical order?

 

Expected Output:  'aBefiltuu Is Beertt ahnT glUy'

 

 

Problem 2:

 

Write a python script to find all the numbers from 1 to 100 that contain 3 or 7 in them?

 

Expected Output:

 

[3, 7, 13, 17, 23, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 47, 53, 57, 63, 67, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 87, 93, 97]

 

 

 

Problems 3:

 

 

Below json data is stored in a file, update the json data by Sorting the JSON data in alphabetical order of keys

 

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

 

EXPECTED OUTPUT

 

{

    "age": 29,

    "id": 1,

    "name": "value2"

}

 

 

Problem 4:

 

def div(a,b):

	return a/b

 

 

Write a decorator if a<b then swap the arguments?

In [75]:
# Problem 1:
str1 = "Beautiful Is Better Than Ugly"
organized_words = []
words = str1.split()
for word in words:
    organized_word = ''.join(sorted(word, key=lambda x: x.lower()))
    organized_words.append(organized_word)

    result_str = ' '.join(organized_words)
result_str

'aBefiltuu Is Beertt ahnT glUy'

In [76]:
# Problem 2:
lst = []
for i in range(1,101):
    if ('3' in str(i)) or ('7' in str(i)):
        lst.append(i)
print(lst)

[3, 7, 13, 17, 23, 27, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 47, 53, 57, 63, 67, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 83, 87, 93, 97]

In [91]:
# Problems 3:

#Below json data is stored in a file, update the json data by Sorting the JSON data in alphabetical order of keys

sampleJson = {"id" : 1, "name" : "value2", "age" : 29}

#EXPECTED OUTPUT

{

"age": 29,

"id": 1,

"name": "value2"
}

{'age': 29, 'id': 1, 'name': 'value2'}

In [98]:
[{key: sampleJson[key] for key in sorted(sampleJson)}]

[{'age': 29, 'id': 1, 'name': 'value2'}]

In [99]:
#Problem 4:

# def div(a,b):

# return a/b
# Write a decorator if a<b then swap the arguments?

In [102]:
def argument_swap_decorator(func):
    def wrapper(a, b):
        if a > b:
            a, b = b, a  # Swap the arguments

        return func(a, b)

    return wrapper

@argument_swap_decorator
def div(a, b):
    return a / b


# Example usage
result = div(4, 8)
print(result)  # Output: 2.0

result = div(8, 4)
print(result)  # Output: 0.5

0.5
0.5